.footer {
    padding-top: 5rem;
}

.footer-element { 
    display: flex;
    justify-content: space-evenly;
}

.footer-element-div1 ul {
    align-items: center;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.footer-element-div2 ul{
    align-items: center;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.footer-element-div3 ul{
    align-items: center;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.footer-element-div1 ul li {
    padding-bottom: 0.5rem;
}

.footer-element-div2 ul li {
    padding-bottom: 0.5rem;
}

.footer-element-div3 ul li {
    padding-bottom: 0.5rem;
}

a {
    text-decoration: none;
}